---
layout: default
---
<div class="columns is-multiline">
  {% assign size = 12 %}
  {% assign products = site.products | sample: size %}
  {% for product in products %}
    <div class="column is-one-fifth">
      {% include product_card.html product=product show_category=true %}
    </div>
  {% endfor %}
  <div class="column is-one-fifth">
    <a href="#navbarMenu" id="more">
      <div class="hoverbox px-0 py-0 has-background-light" style="height: 100%; position: relative; border: 
      solid 1px #3273dc;">
        <div style="position: absolute; height: 100%; width: 100%;"></div>
        <p>more</p>
      </div>
    </a>
  </div>
</div>