---
layout: default
---
<div class="container">
    <div class="tile is-ancestor">
      {% assign size = 12 %}
      {% assign columns = 4 %}
      {% assign columnsize = size | divided_by: columns %}
      {% assign products = site.products | sample: size %}
      {% for product in products %}
        {% assign indexmod = forloop.index0 | modulo: columnsize %}
        {% if indexmod == 0 %}
          <div class="tile is-{{columnsize}} is-vertical">
        {% endif %}
        <div class="tile is-parent">
          <div class="tile is-child">
            {% include product_card.html product=product %}
          </div>
        </div>
        {% if indexmod == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>