<footer class="footer mt-6">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <h1 class="title is-5">
          Appliances
        </h1>
        <p class="">
          <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Washing Machines" | slugify }}.html">
            Washing Machines
          </a>
        </p>
        <p class="">
          <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Dryers" | slugify }}.html">
            Dryers
          </a>
        </p>
        <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Fridges" | slugify }}.html">
              Fridges
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Televisions" | slugify }}.html">
              Televisions
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Air Conditioning" | slugify }}.html">
              Air Conditioning
            </a>
          </p>
      </div>
      <div class="column is-3">
        <h1 class="title is-5">
          Furniture
        </h1>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Lounges/Sofas" | slugify }}.html">
              Lounges/Sofas
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Beds" | slugify }}.html">
              Beds
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Coffee Tables" | slugify }}.html">
              Coffee Tables
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "TV Stands" | slugify }}.html">
              TV Stands
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Bedside Tables" | slugify }}.html">
              Bedside Tables
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Dining Tables" | slugify }}.html">
              Dining Tables
            </a>
          </p>
      </div>
      <div class="column is-6">
        <h1 class="title is-5">
          Zahabzee
        </h1>
        <p>Zahabzze is the perfect store for all your furniture and appliance needs. We offer a vast catalog of items at very affordable prices! No more spending hours driving from store to store trying to find what you want. Now, you can find everything here at Zahabzze!</p>
        <br>
        <address>47 Moore Street<br>Liverpool NSW 2170</address>
        <address>04 8499 0030</address>
      </div>
    </div>
    <p class="has-text-centered">Copyright © 2020 ZAHABZZE PTY LTD<br>ABN: 65 620 649 603</p>
  </div>
</footer>