<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <p class="">
          <a href="#">
            Contacts
          </a>
        </p>
        <p class="">
          <a href="#">
            Help
          </a>
        </p>
      </div>
      <div class="column is-4">
        <p class="">
          Appliances
        </p>
        <p class="">
          <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Washing Machines" | slugify }}.html">
            Washing Machines
          </a>
        </p>
        <p class="">
          <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Dryers" | slugify }}.html">
            Dryers
          </a>
        </p>
        <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Fridges" | slugify }}.html">
              Fridges
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Televisions" | slugify }}.html">
              Televisions
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Air Conditioning" | slugify }}.html">
              Air Conditioning
            </a>
          </p>
      </div>
      <div class="column is-4">
        <p class="">Furniture</p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Lounges/Sofas" | slugify }}.html">
              Lounges/Sofas
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Beds" | slugify }}.html">
              Beds
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Coffee Tables" | slugify }}.html">
              Coffee Tables
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "TV Stands" | slugify }}.html">
              TV Stands
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Bedside Tables" | slugify }}.html">
              Bedside Tables
            </a>
          </p>
          <p class="">
            <a href="{{ site.url }}{{ site.baseurl }}/categories/{{ "Dining Tables" | slugify }}.html">
              Dining Tables
            </a>
          </p>
      </div>
    </div>
    <p>ZAHABZZE PTY LTD<small class="d-block mb-3 text-muted">© 2020</small>ABN: 65 620 649 603</p>
  </div>
</footer>