<a href="{{ site.url }}{{ site.baseurl }}{{ product.url }}">
  <div class="hoverbox" style="height: 100%; padding: 0; position: absolute; bottom: 0; right: 0;">
    <figure class="image is-4by3">
      <img src="{{ site.baseurl }}/assets/images/products/{{ product.images[0] }}" class="card-img-top" alt="">
    </figure>
    <p class="title is-4">{{ product.name }}</p>
    <p class="subtitle is-6 has-text-success has-text-weight-bold is-family-monospace has-text-right">{{ product.price }}</p>
  </div>
</a>