---
---
#navBarSearchForm input[type="search"]::-webkit-search-decoration,
#navBarSearchForm input[type="search"]::-webkit-search-cancel-button,
#navBarSearchForm input[type="search"]::-webkit-search-results-button,
#navBarSearchForm input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
#navBarSearchForm input[type=search] {
  width:430px;
}

.tabs:not(:last-child) {
  margin-bottom: 0;
}

.tab-content {
  padding: 0;
  display: none;
}

.tab-content.is-active {
  display: block;
}