---
layout: default
---
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">{{ page.category }}</a></li>
      <li class="breadcrumb-item"><a href="#">{{ page.subcategory }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ page.sku }}</li>
    </ol>
  </nav>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-height: 550px;">
    <div class="carousel-inner">
      {% for image in page.images %}
        <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
          <img class="d-block w-100" src="{{ site.baseurl }}/assets/images/products/{{ image }}" alt="">
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h1>{{ page.name }}</h1>
  <h3>{{ page.brand }}</h3>
  <h3>SKU: {{ page.sku }}</h3>
  <h3>{{ page.price }}</h3>

  <div class="card text-center mx-lg-5">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        {% for detail in page.details %}
          {% capture id %}{{ detail[0] | slugify }}-tab{% endcapture %}
          {% capture href %}#{{ detail[0] | slugify }}{% endcapture %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if forloop.first == true %}active{% endif %}" id="{{ id }}" data-toggle="tab" href="{{ href }}" role="tab" aria-controls="{{ detail[0] | slugify }}" aria-selected="{% if forloop.first == true %}true{% else %}false{% endif %}">{{ detail[0] }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        {% for detail in page.details %}
          {% capture aria-labelledby %}{{ detail[0] | slugify }}-tab{% endcapture %}
          <div class="tab-pane fade {% if forloop.first == true %}show active{% endif %}" id="{{ detail[0] | slugify }}" role="tabpanel" aria-labelledby="{{ aria-labelledby }}">
            <table class="table table-sm table-striped">
              <tbody>
                {% for attributes in detail[1] %}
                  <tr>
                    {% if attributes[1] %}
                      <th scope="row">{{ attributes[0] }}</th>
                      <td>{{ attributes[1] }}</td>
                    {% else %}
                      <th scope="row" colspan="2">{{ attributes[0] }}</th>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>