---
layout: default
---
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      {% for detail in page.details %}
        {% capture id %}{{ detail[0] }}-tab{% endcapture %}
        {% capture href %}#{{ detail[0] }}{% endcapture %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="{{ id }}" data-toggle="tab" href="{{ href }}" role="tab" aria-controls="{{ detail[0] }}" aria-selected="true">{{ detail[0] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {% for detail in page.details %}
        {% capture aria-labelledby %}{{ detail[0] }}-tab{% endcapture %}
        <div class="tab-pane fade" id="{{ detail[0] }}" role="tabpanel" aria-labelledby="{{ aria-labelledby }}">...</div>
      {% endfor %}
    </div>
  </div>
</div>